version: "3.8"

services:
  # db:
  #   image: postgres:13
  #   environment:
  #     POSTGRES_USER: dandevko
  #     POSTGRES_PASSWORD: dandevko
  #     POSTGRES_DB: quickchatdb
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    environment:
      DATABASE_URL: postgresql://dandevko:dandevko@db:5432/quickchatdb
      SECRET_KEY: your_secret_key
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
